.publicidad{
    height: 85vh;
    width: 80vh;
}
.impubli{
    width: 75vh;
    height: 75vh;
}
@media only screen and (max-width: 768px) {
    .impubli{
        width: 40vh;
        height: 50vh;
    }
  }