.titulo{
    border-radius: 12px;
    height: 100vh;
    max-height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
    url(../assets/imgfondo.png)
    no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
}
@media only screen and (max-width: 768px) {
    .titulo{
        height: 140vh;
    }
  }
.titlirest{
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;

}
.parraforest{
    align-items: center;
    width: 50%;
    font-style: italic;
}
.btnmenu{
    width:20vh ;
    height: 10vh;
    font-size:x-large;
    font-weight: 700;
    color: white;
    border-radius: 15px;
    background-color: black ;
    opacity: 0.7;
    margin:2%;
}
.btnordenar{
    margin: 2%;
    width:20vh ;
    height: 10vh;
    font-size:x-large;
    font-weight: 700;
    color: white;
    border-radius: 15px;
    background-color: rgb(177, 127, 19) ;
    opacity: 0.9;
}