:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  max-width: max-content;
  background-color: rgb(23, 24, 24);
  color: white;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.secsecundaria{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.comptarjeta{
  background-color: rgba(0, 0, 0, 0.432);
  opacity: 0.8;
  height: 110vh;
  border-radius: 20px;
  border-color: rgb(77, 74, 74);
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;

}
@media only screen and (max-width: 1008px) {
  .comptarjeta {
    height: 210vh;
  }
  .companuncio{
    align-content: center;
  }
}
.companuncio{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  
  margin-top: 10%;
}